region          = "${REGION}"
environment     = "${ENVIRONMENT}"
name            = "${BUILD_REPOSITORY_NAME}"
storage_bucket  = "${STORAGE_BUCKET}"
build_number    = "${BUILD_NUMBER}"
signing_secret  = "${SIGNING_SECRET}"
slack_bot_token = "${SLACK_BOT_TOKEN}"